---
layout: default
title: Blog
---

<section class="section" id="blog">
    <div class="container has-padding-lr-1">
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-6-desktop is-10-tablet is-12-mobile">
                <h1 class="title is-0 has-spacing-sm">Latest thoughts</h1>
                {% assign posts = site.posts | sort: 'date' | reverse %}
                {% for post in posts %}
                <a href="{{ post.url }}">
                    <h1 class="title is-3 has-text-weight-light has-spacing-sm has-padding-t-4">
                        {{ post.title }}
                    </h1>
                    <div class="columns is-mobile is-multiline has-spacing-sm">
                        <div class="column is-4-desktop">
                            <p class="is-size-7 has-border-black">{{ post.date | date_to_string }}</p>
                        </div>
                        <div class="column is-4-desktop">
                            <p class="is-size-7 has-border-black">Read <i class="icon icon-right-open-mini">&#xe801;</i>
                            </p>
                        </div>
                    </div>
                    <div class="columns is-mobile is-multiline has-spacing-sm is-hidden-mobile">
                        <div class="column is-12-desktop">
                            <p class="is-size-6 has-text-grey">
                                {{ post.excerpt | strip_html | truncatewords: 35 }}
                            </p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="column is-5-desktop is-offset-1-desktop is-10-tablet is-12-mobile">
                <h1 class="title is-0 has-spacing-sm has-text-grey">Code Snippets</h1>
                {% assign snippets = site.snippets | sort: 'date' | reverse %}
                {% for snippet in snippets %}
                <a href="{{ snippet.url }}">
                    <h1 class="title is-3 has-text-weight-light has-spacing-sm has-padding-t-4 has-text-grey">
                        {{ snippet.title }}
                    </h1>
                    <div class="columns is-mobile is-multiline has-spacing-sm">
                        <div class="column is-4-desktop">
                            <p class="is-size-7 has-border-black">{{ snippet.date | date_to_string }}</p>
                        </div>
                        <div class="column is-4-desktop">
                            <p class="is-size-7 has-border-black">Read <i class="icon icon-right-open-mini">&#xe801;</i>
                            </p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
</section>

