body {
    max-width: 800px;
    margin: 0 auto;
}

.btn-wrapper {
    position: relative;
    height: 80px;
    width: 100%;
}

.btn.is-error {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin-top: 1rem;
}


div.img-3 {
    width: 30%;
    display: inline-block;
    margin-bottom: 1rem;
}

div.img-3 img {
   border-radius: 100%;
}



div.img-6 {
    width: 48%;
    display: inline-block;
    margin-bottom: 1rem;
}

div.img-6 img {
    width: 100%;
    height: auto;
}
div.img-12 {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

div.img-12 img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:768px){
    body {
        max-width: 340px;
        font-size: 10px;
    }

    div.img-6 {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }
    


}