<section class="section" id="header">
    <div class="container has-padding-lr-1">

        <div class="columns is-mobile is-multiline is-vbaseline">
            <div class="column is-4-desktop is-8-mobile">
                <h1 class="title is-1"><a href="/">Vinícius Philot</a></h1>
            </div>
            <div class="column is-3-desktop is-8-mobile">
                <p class="has-spacing-sm is-size-7">Front End Designer and Developer</p>
            </div>
            <div class="column is-3-desktop is-6-mobile has-spacing-sm">
                <a href="mailto:hello@philot.space?subject=Hey%2C%20nice%20web%20page%20you%20have">
                    <p class="has-spacing-sm is-size-7">hello@philot.space</p>
                </a>
                </div>
            <div class="column is-2-desktop is-12-mobile">
                <a 
                aria-label="check my Linkedin in a new tab" 
                href="https://www.linkedin.com/in/vphilot/?locale=en_US" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-linkedin">&#xf0e1;</i>
                </a>
                <a
                aria-label="check my Driblle in a new tab" 
                href="https://dribbble.com/vphilot" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-dribbble">&#xf17d;</i>
                </a>
                <a 
                aria-label="check my Twitter in a new tab" 
                href="https://twitter.com/vphilot" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-twitter">&#xf099;</i>
                </a>
                <a 
                aria-label="check my Instagram in a new tab"
                href="https://instagram.com/vphilot" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-instagram">&#xf16d;</i>
                </a>
                <a 
                aria-label="check my Github in a new tab" 
                href="https://github.com/vphilot" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-github">&#xf113;</i>
                </a>
                <a 
                aria-label="check my Codepen in a new tab" 
                href="https://codepen.io/vphilot/" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-codepen">&#xf32c;</i>
                </a>
                <a 
                aria-label="check my Spotify in a new tab" 
                href="https://open.spotify.com/user/12183629233" 
                target="_blank"
                tabindex="0"
                >
                    <i aria-hidden="true" class="icon icon-spotify">&#xf1bc;</i>
                </a>
            </div>
        </div>
    </div>
</section>