[id^="post"] {

    p {
        margin-bottom: 1.5rem;
        line-height: 1.75rem;
    }


    h3 {
        position: relative;
    }
    h3::before {
        content: '';
        position: absolute;
        width: 5%;
        height: 100%;
        border-top: 1px solid black;
        top: 0;
        left: 0;
        transform: translate(-110%, 1rem);
    }
}


@media screen and (max-width: 768px) {
    [id^="post"] p { 
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
