---
layout: default
---

<section class="section swup-delay" id="about">
    <div class="container has-padding-lr-1">
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-6-desktop is-10-tablet is-12-mobile">
                <h1 class="title is-0 has-spacing-sm">About</h1>
                <div class="columns is-mobile is-multiline has-spacing-sm">
                    <div class="column is-12-desktop is-12-tablet is-12-mobile has-margin-b-4">
                        <p class="is-block is-size-3 has-border-black has-margin-b-7">profile</p>
                        <p>{{ page.profile }} <span style="white-space: nowrap"><i
                                    class="icon icon-download is-small">&#xE803;</i> <a
                                    href="/assets/docs/2022-viniciusphilot-resume.pdf" download target="_blank"
                                    data-no-swup>
                                    download my resume.
                                </a></span></p>

                    </div>
                    <div class="column is-12-desktop is-12-tablet is-12-mobile has-margin-b-4">
                        <p class="is-block is-size-3 has-border-black has-margin-b-7">motto</p>
                        <p>{{ page.motto }}</p>
                    </div>
                    <div class="column is-12-desktop is-12-tablet is-12-mobile has-margin-b-4">
                        <p class="is-block is-size-3 has-border-black has-margin-b-7">background</p>
                        <p>{{ page.bg }}</p>
                    </div>
                    <div class="column is-12-desktop is-12-tablet is-12-mobile has-margin-b-4">
                        <p class="is-block is-size-3 has-border-black has-margin-b-7">stack</p>
                        <p>
                            {% for tool in page.stack %}
                            {{ tool }}
                            {%- if forloop.last == false -%}
                            ,
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <h1 class="title is-1 has-spacing-sm has-padding-t-5">Apps and gear I use</h1>
                <div class="columns is-mobile is-multiline">
                    <div class="column is-12-desktop is-12-tablet is-12-mobile">
                        {% for app in page.apps %}
                        <p class="has-spacing-sm has-padding-b-7">{{ app }}</p>
                        {% endfor %}
                    </div>
                </div>

                <h1 class="title is-1 has-spacing-sm has-padding-t-5">Little known facts</h1>
                <div class="columns is-mobile is-multiline">

                    <div class="column is-12-desktop is-12-tablet is-12-mobile">
                        {% for fact in page.facts %}
                        <p class="has-spacing-sm has-padding-b-7">{{ fact }}</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
