---
layout: default
---
<section class="section" id="home-intro">
    <div class="container has-padding-lr-1">
        <div class="columns is-mobile is-multiline has-spacing-sm">
            <div class="column is-6-desktop is-12-mobile">
                <h1 class="title is-3 has-font-primary">{{ page.introduction-main }}</h1>
            </div>
            <div class="column is-2-desktop is-12-mobile">
                <a href="/about" class="is-size-3">
                    (oh, hi!)
                    <svg x="0px" y="0px" viewBox="0 0 200 10">
                        <polyline points="194,0 199,5 194,10 " />
                        <line x1="0" y1="5" x2="199" y2="5" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section" id="home-works-blog">
    <div class="container has-padding-lr-1">
        <div class="columns is-mobile is-multiline has-spacing-sm reverse-row-order-desktop">
                <div class="column is-6-desktop is-12-mobile">
                        <picture>
                            <img
                            sizes="(max-width: 1000px) 100vw, 1000px"
                            srcset="
                            ../assets/images/home/home-works_scale,w_200.jpg 200w,
                            ../assets/images/home/home-works_scale,w_404.jpg 404w,
                            ../assets/images/home/home-works_scale,w_578.jpg 578w,
                            ../assets/images/home/home-works_scale,w_694.jpg 694w,
                            ../assets/images/home/home-works_scale,w_794.jpg 794w,
                            ../assets/images/home/home-works_scale,w_893.jpg 893w,
                            ../assets/images/home/home-works_scale,w_977.jpg 977w,
                            ../assets/images/home/home-works_scale,w_1000.jpg 1000w"
                            src="../assets/images/home/home-works_scale,w_1000.jpg"
                            alt="">
                            </picture>
                    </div>
            <div class="column is-6-desktop is-12-mobile">
                <h1 class="title is-0 has-spacing-sm">Work</h1>
                {% assign works = site.works | sort: 'order' | reverse %}
                {% for work in works limit:3 %}
                <a href="{{ work.url }}">
                    <div class="has-home-hover-animation">
                        <h1 class="title is-1 has-text-weight-light has-spacing-sm has-padding-t-4">
                            {{ work.title }}
                        </h1>
                        <div class="columns is-mobile is-multiline has-spacing-sm">
                            <div class="column is-8-desktop">
                                <p class="is-size-7 has-border-black">{{ work.category }}</p>
                            </div>
                            <div class="column is-2-desktop">
                                <p class="is-size-7 has-border-black">{{ work.year }}</p>
                            </div>
                            <div class="column is-2-desktop">
                                <p class="is-size-7 has-border-black">Read 
                                    <i aria-hidden="true" class="icon icon-right-open-mini">&#xe801;</i>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <div class="column is-5-desktop is-12-mobile has-margin-bt-3 is-paddingless">
                    <a href="/works" class="is-size-3">
                        All Works
                        <svg aria-hidden="true" x="0px" y="0px" viewBox="0 0 200 10">
                            <polyline points="194,0 199,5 194,10 " />
                            <line x1="0" y1="5" x2="199" y2="5" />
                        </svg>
                    </a>
                </div>
            </div>
            
 
        </div>

        <div class="columns is-mobile is-multiline has-spacing-sm reverse-row-order">
                <div class="column is-6-desktop is-12-mobile">
                        <picture>
                            <img
                            sizes="(max-width: 1000px) 100vw, 1000px"
                            srcset="
                            ../assets/images/home/home-thoughts_scale,w_200.jpg 200w,
                            ../assets/images/home/home-thoughts_scale,w_389.jpg 389w,
                            ../assets/images/home/home-thoughts_scale,w_539.jpg 539w,
                            ../assets/images/home/home-thoughts_scale,w_666.jpg 666w,
                            ../assets/images/home/home-thoughts_scale,w_781.jpg 781w,
                            ../assets/images/home/home-thoughts_scale,w_887.jpg 887w,
                            ../assets/images/home/home-thoughts_scale,w_985.jpg 985w,
                            ../assets/images/home/home-thoughts_scale,w_1000.jpg 1000w"
                            src="../assets/images/home/home-thoughts_scale,w_1000.jpg"
                            alt="">
                            </picture>
                    </div>
            <div class="column is-6-desktop is-12-mobile">
                <h1 class="title is-0 has-spacing-sm">Thoughts</h1>
                {% assign posts = site.posts | sort: 'date' | reverse %}
                {% for post in posts limit:4 %}
                <a href="{{ post.url }}">
                    <div class="has-home-hover-animation">
                        <h1 class="title is-4 has-text-weight-light has-spacing-sm has-padding-t-4">
                            {{ post.title }}
                        </h1>
                        <div class="columns is-mobile is-multiline has-spacing-sm">
                            <div class="column is-10-desktop">
                                <p class="is-size-7 has-border-black">{{ post.date | date_to_string }}</p>
                            </div>
                            <div class="column is-2-desktop">
                                <p class="is-size-7 has-border-black">Read
                                    <i aria-hidden="true" class="icon icon-right-open-mini">&#xe801;</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <div class="column is-5-desktop is-12-mobile has-margin-bt-3 is-paddingless">
                    <a href="/blog" class="is-size-3">
                        Blog
                        <svg aria-hidden="true" x="0px" y="0px" viewBox="0 0 200 10">
                            <polyline points="194,0 199,5 194,10 " />
                            <line x1="0" y1="5" x2="199" y2="5" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>


    </div>
</section>